
/*Styles for Everything*/

:root {
	--bg-color: #623412;
	--main-color: #589b4c;
}

body {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23137602'/%3E%3Cstop offset='1' stop-color='%230bbbaf'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23c8ff51' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23c8ff51' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23c8ff51' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23c8ff51' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.6;
}


/*Auth Page Styles*/


.authContent {
	display: block;
	text-align: center;
	width: 800px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: bisque;
	border-radius: 30%;
	height: 73%;
}

.imageAuth {
	margin-top: 50px;
	background: green;
	border-radius: 25%;
	padding: 50px;
}

.authH1 {
	text-align: center;
	text-decoration: underline;
}

.authForm {
	padding: 25px;
	margin-bottom: 0;
	text-align: center;
}

/*Ledger Page Styles*/


.ledgerH1 {
	text-align: center;
}

.transactions {
	margin-left: 35px;
	background-color: beige;
	text-align: center;
	width: 95%;
	height: 100px;
}

.tablehistory {
	margin-left: 35px;
	background-color: beige;
	text-align: center;
	width: 95%;
	height: 75%;
}

.ledgerTable {
	height: 100%;
	width: 100%;
}

.ledgerTH, .ledgerTR{
	text-align: left;
}

/*Nav Styles*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}


/*Index Page Styles*/
/*Styles were not working when in this file, so I embedded them into index.html*/

/*Budget Page Styles*/

.budgetContent{
	display: grid;
	grid-template-columns: 600px 600px;
	grid-template-rows: 1fr 1fr;
}

.inputBudget{
	text-align: center;
	grid-column: 1;
	grid-row: 1;
	border-bottom: 3px double black;
}

.budgetForm{
	margin-top: auto;
	margin-bottom: auto;
}

.showBudget{
	text-align: center;
	grid-column: 1;
	grid-row: 2;
	border-top: 3px double black;
}

.logoWrapper{
	grid-column: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	text-align: center;
	border-left: 3px solid black;
}

.budgetLogo{
	background: green;
	border-radius: 25%;
	padding: 50px;
	margin: auto;
}

.budgetH1{
	text-decoration: underline;
}

.tableDiv{
	text-align: center;
	align-items: center;
	align-content: center;
	margin-left: 230px;
}


/*Stocks Page Styles*/

.stockContent{
	display: grid;
	grid-template-columns: 1fr 80px 1fr;
	grid-template-rows: 210px;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 10px double black;
}

.stockH1{
	text-decoration: underline;
}

.warning{
	background-color: yellow;
	color: red;
	text-decoration: underline;
	font-style: italic;
	font-weight: bolder;
}

.stockAdd{
	grid-column: 1;
	width: 600px;
	text-align: center;
}

.showStock{
	grid-column: 3;
	width: 600px;
	text-align: center;
}

.stockTable{
	margin-left: auto;
	margin-right: auto;
}

/*Footer Styles*/

.footer{
	margin-top: 15px;
	text-align: center;
}